div.playInputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

span.index {
    width: 10%
}

input.play {
    width: 80%;
}
@media(max-width: 600px) {
    div.play {
        width: 100%;
    }
}