div.totals {
    margin-top: 1em;
}

h5.question, h6.username, h5.winners {
    margin: 0;
}

h5.question {
    color: var(--second-accent-color);
    background-color: var(--main-text-color);
}

div.question {
    display: flex;
    justify-content: space-evenly;
}

div.responses {
    margin-top: 1.4em;
}

div.plays, div.winners {
    display: inline-block;
    padding: 1em;
    text-align: left;
    border: 1px solid var(--main-text-color);
    margin-top: 1em;
}

div.userGuesses {
    color: var(--second-main-color);
    font-style: oblique;
}