.App {
  text-align: center;
  font-family: Gill Sans, Arial;
  --main-text-color: #040;
  --main-accent-color: #eee;
  --second-main-color: #860;
  --second-accent-color: #cdc;
}

button {
  color: var(--main-text-color);
  background-color: var(--main-accent-color);
  border: none;
  font-size: 1.4em;
  margin: .2em;
  padding: .4em;
}
button:disabled {
  opacity: .4;
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

input {
  font-size: 1.4em;
  border: none;
  margin: .2em;
  color: var(--main-text-color);
  background-color: var(--second-accent-color);
}

select {
  font-size: 1.4em;
  border: none;
  margin: .2em;
  color: var(--main-text-color);
  background-color: var(--second-accent-color);
}
select:hover {
  cursor: pointer;
}

.error {
  color: red;
}